In [1]:
import tensorflow
import stellargraph
import numpy
import matplotlib
import os.path
import pandas
import datetime
import re

Please notice, to open jupyter in custom directory use:
>jupyter notebook --notebook-dir=[your_directory]

Expecting file hierarchy:
    <ul>root/
        <li>Antarctica_research_2020/
            <ul>.git/</ul>
            <ul>.gitignore</ul>
            <ul>readme.md</ul>
            <ul>notebook.ipynb</ul></li>
        <li>data/
            <ul>Sesja 1.xlsx</ul>
            <ul>.</ul>
            <ul>.</ul>
            <ul>Sesja 26.xlsx</ul></li>
    </ul>

In [2]:
data_path = "../data/"
file_list = [name for name in os.listdir(data_path)]
print(file_list)

['Sesja 1.xlsx', 'Sesja 10.xlsx', 'Sesja 11.xlsx', 'Sesja 12.xlsx', 'Sesja 13.xlsx', 'Sesja 14.xlsx', 'Sesja 15.xlsx', 'Sesja 16.xlsx', 'Sesja 17.xlsx', 'Sesja 18.xlsx', 'Sesja 19.xlsx', 'Sesja 2.xlsx', 'Sesja 20.xlsx', 'Sesja 21.xlsx', 'Sesja 22.xlsx', 'Sesja 23.xlsx', 'Sesja 24.xlsx', 'Sesja 25.xlsx', 'Sesja 26.xlsx', 'Sesja 3.xlsx', 'Sesja 4.xlsx', 'Sesja 5.xlsx', 'Sesja 6.xlsx', 'Sesja 7.xlsx', 'Sesja 8.xlsx', 'Sesja 9.xlsx']

In [3]:
# Sessions order is important, let me get sorted file info
sorted_filenames = dict()
for name in file_list:
    list_of_digits = list(map(int, filter(str.isdigit, name)))
    sorted_filenames[name] = list_of_digits[0] if len(list_of_digits) == 1 else list_of_digits[1] + list_of_digits[0]*10
sorted_filenames = sorted(sorted_filenames.items(), key=lambda el: el[1])
sorted_filenames = {val: key for key, val in sorted_filenames}
print(sorted_filenames)

{1: 'Sesja 1.xlsx', 2: 'Sesja 2.xlsx', 3: 'Sesja 3.xlsx', 4: 'Sesja 4.xlsx', 5: 'Sesja 5.xlsx', 6: 'Sesja 6.xlsx', 7: 'Sesja 7.xlsx', 8: 'Sesja 8.xlsx', 9: 'Sesja 9.xlsx', 10: 'Sesja 10.xlsx', 11: 'Sesja 11.xlsx', 12: 'Sesja 12.xlsx', 13: 'Sesja 13.xlsx', 14: 'Sesja 14.xlsx', 15: 'Sesja 15.xlsx', 16: 'Sesja 16.xlsx', 17: 'Sesja 17.xlsx', 18: 'Sesja 18.xlsx', 19: 'Sesja 19.xlsx', 20: 'Sesja 20.xlsx', 21: 'Sesja 21.xlsx', 22: 'Sesja 22.xlsx', 23: 'Sesja 23.xlsx', 24: 'Sesja 24.xlsx', 25: 'Sesja 25.xlsx', 26: 'Sesja 26.xlsx'}

In [20]:
# Loading data
data_dict = dict()
for key, val in sorted_filenames.items():
    data_dict[key] = pandas.read_excel(data_path + val, header=None, dtype=object)

In [21]:
rand_int = int(numpy.random.rand() * 26)
data_dict[rand_int].head(3)
# An example:

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,NaN,Sesja 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N = 19,NaN,NaN,1979-01-14 00:00:00,NaN,NaN,NaN,ZIM2,NaN,NaN
1,Nr O.B.,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
2,1,2023,1823,1527,1520,1516,1717,1816,2118,2115,...,2328,1932,2130,1925,2223,1423,1729,1225,2127,NaN

The target format for data is a stellargraph graph for each session (session -> data recording occuring every two week). But before that, let me read the data into intermediate objects:

In [22]:
class Session(object):
    def __init__(self, raw_session_data):
        self.date = self.find_date(raw_session_data)
        self.relations = dict() # dictionary of lists of tuples - column_number : [(x1, y1), (x2, y2), ...]
    
    def get_colums(self):
        pass
    
    def find_date(self, raw_session_data) -> datetime.date:
        for key, col in raw_session_data.iteritems():
            for val in col:
                regex = re.search(r"\d{1,2}.\d{1,2}.\d{4}|\d{4}.\d{1,2}.\d{1,2}", str(val))
                if regex:
                    return regex.group()

In [23]:
class Person(object):
    def __init__(self, id, date, relations: list):
        pass

In [24]:
test_session = Session(data_dict[1])
print(test_session.date)

nan
Nr O.B.
1
2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
nan
Nr 10 = lider formalny
nan
1
2420
2215
2021
2713
3422
3509
3031
2823
2412
1812
3226
2419
2824
2921
2829
2320
3214
2018
1925
nan
nan
nan
Numer osoby
2
2518
2206
2321
2016
3120
3505
2309
2214
2816
0520
2834
2323
2112
2326
2217
2116
3114
2121
1628
nan
nan
nan
nan
3
1232
2412
2220
2321
2029
3307
0636
2715
1722
3433
1919
2322
0921
0734
3920
2418
3123
1312
1710
nan
nan
nan
nan
4
2123
2011
2119
2019
2618
3408
1031
1723
2016
3228
2226
2421
3623
2333
2815
2323
2714
1415
2128
nan
nan
nan
nan
5
2430
2616
1819
2615
2919
2107
0227
1427
2809
2536
1821
2122
3319
0707
2919
2521
2705
1613
1322
nan
nan
nan
nan
6
1930
3330
1521
1125
3425
2007
1013
2718
1710
2715
2923
2024
2425
0815
2225
2223
2409
1118
2014
nan
nan
nan
nan
7
2625
1815
2019
2021
1931
3407
1038
1324
2120
3133
2122
1921
3717
0826
3917
2422
3122
1412
1828
nan
nan
nan
nan
8
2921
2118
1919
1728
3227
2907
2120
1619
2012
1123
3428
2118
1530
3331
1723
2021
3011
1424
2118
nan
nan
nan
N=19
9
1218
2819
1921
2129
1926
2807
2137
2119
2812
0809
1833
2218
3509
3207
0505
1919
3509
712
1315
nan
nan
nan
nan
10
2422
2209
2221
2418
2127
3507
3420
1914
2416
0222
2933
1821
1504
2327
2421
2118
3115
2322
1625
nan
nan
nan
Sesja 1
11
1716
2320
1719
1828
2926
2707
3410
2024
1714
1820
3431
2018
1931
2207
1719
2424
2910
1422
2121
nan
nan
nan
nan
12
2311
1427
1519
2621
3428
3107
1513
1220
1718
3108
2528
1923
0234
0337
0438
2221
3615
1219
1916
nan
nan
nan
nan
13
2812
1823
2219
1716
2916
3306
1436
1313
2322
2730
2119
2120
0733
0820
2413
2524
3121
1410
1928
nan
nan
nan
nan
14
1526
2912
1821
1427
2313
2607
0412
0828
2820
1631
1428
1819
2118
1812
2019
1817
3118
0720
1819
nan
nan
nan
ZIMA
15
2520
2510
2121
2216
2821
3309
2314
2114
2420
0918
2635
2019
1708
2320
2319
2216
3014
2021
1426
nan
nan
nan
nan
16
2120
3115
1421
1327
2213
2507
0615
0629
2611
2029
0931
2017
1519
1814
2221
1917
3117
0719
1519
nan
nan
nan
nan
17
1224
2722
1619
2628
2025
2407
2637
2322
2918
0207
1533
2317
3011
3334
0905
1820
3604
0713
1115
nan
nan
nan
1978-12-29 00:00:00
1978-12-29

In [25]:
print(data_dict[rand_int])

         0        1     2     3     4     5     6     7     8     9   ...  \
0       NaN  Sesja 2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   Nr O.B.        1     2     3     4     5     6     7     8     9  ...
2         1     2023  1823  1527  1520  1516  1717  1816  2118  2115  ...
3         2     2013  2101  2209  1707  2514  3227  1412  1819  2519  ...
4         3     2520  2719  2619  2720  2417  2521  2721  2617  2517  ...
5         4     3115  2517  2422  2320  2815  1312  2222  2028  2929  ...
6         5     2718  2819  2128  2318  2519  3027  2228  3012  2516  ...
7         6      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
8         7     3314  3310  2912  3114  0712  0512  3112  2312  2112  ...
9         8     3735  2505  0538  1338  1138  1811  0938  2221  0417  ...
10        9     3025  2613  1413  2723  1916  1316  1719  1322  2220  ...
11       10     2507  2609  3010  2308  2806  3008  2813  2811  2506  ...
12       11     3118  2825  0736  0432  1336  2237  0833  1918  1111  ...
13       12     2329  2828  1212  1718  1321  2911  1714  3018  1928  ...
14       13     2220  2620  2619  2218  2320  2616  2417  2317  2216  ...
15       14     2424  3020  0728  1914  1716  3229  0718  2528  0804  ...
16       15     2924  2417  1332  1729  0403  3737  1333  2432  3110  ...
17       16     2726  2322  3520  2813  2026  1822  3517  1715  2308  ...
18       17     2419  2317  2518  2520  2622  2422  2619  2221  2019  ...
19       18     2514  3114  2119  2317  2617  2608  2218  1813  2906  ...
20       19     2213  2216  1509  1811  1810  2012  1710  1817  1316  ...
21       20     2226  2126  1614  2418  2219  1824  2018  2527  2329  ...
22       21      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

        12    13    14                   15    16    17    18    19    20   21
0   N = 19   NaN   NaN  1979-01-14 00:00:00   NaN   NaN   NaN  ZIM2   NaN  NaN
1       12    13    14                   15    16    17    18    19    20   21
2     2328  1932  2130                 1925  2223  1423  1729  1225  2127  NaN
3     0924  1726  2811                 2405  3016  0723  2023  2326  1621  NaN
4     2419  2620  2420                 2718  2421  2621  2717  2518  2519  NaN
5     2723  2117  1618                 2318  1518  2431  1828  2225  1728  NaN
6     2927  2521  2221                 2820  2121  2514  3014  2925  2911  NaN
7      NaN   NaN   NaN                  NaN   NaN   NaN   NaN   NaN   NaN  NaN
8     2712  2910  1712                 1512  2915  1312  1112  2512  0912  NaN
9     1107  1937  1032                 2511  1432  0425  3417  1117  3514  NaN
10    2618  3215  2029                 2213  2032  1823  1423  2918  1524  NaN
11    2306  2109  2414                 2409  2414  2314  2214  2113  2011  NaN
12    2840  0828  2709                 2526  2514  0713  1922  1804  1720  NaN
13    2120  1417  1025                 2627  0526  1526  2718  2116  2821  NaN
14    2121  2319  2322                 2521  2222  2415  2020  2018  2518  NaN
15    0910  1514  2721                 3221  2220  2021  2135  2203  2232  NaN
16    4039  1532  0916                 2321  1018  3208  2530  3439  2429  NaN
17    2335  3015  2521                 2518  2320  2012  1915  2133  2116  NaN
18    2320  2521  2017                 2217  2018  2020  2222  2219  2321  NaN
19    2111  2318  3109                 3113  3009  2903  2811  2815  2712  NaN
20    1913  1910  1211                 2115  1111  1415  1916  1813  1716  NaN
21    1722  2216  2520                 1926  2621  2229  2426  1922  2324  NaN
22     NaN   NaN   NaN                  NaN   NaN   NaN   NaN   NaN   NaN  NaN

[23 rows x 22 columns]